.wrapper-menu{
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    position: relative;
    transition: all 0.1s ease;
    // padding: 13px 0;
    &.scroll{
        position: fixed;
        top: 0;
        box-shadow: 0 0 7px 0 #ccc;
        z-index: 111;
        border: none;
        ul{
            li.dwia:nth-last-of-type(-n+4){
                display: none;
            }
        }
    }
    .container-fluid{
        display: flex;
        max-width: 1370px;
        align-items: center;
        .link-image{
            img{
                width: 20px;
            }
        }
        .link-text{
            margin-left: 20px;
            color: var(--color_primary);
            font-weight: 600;
            transition: all .23 ease;
            white-space: nowrap;
            padding-right: 15px;
        }
        .logo{
            transition: all .23 ease;
            display: flex;
            align-items: center;
        }
    }
    .icon{
        width: 27px;
        height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 16px;
        background-color: #ccc;
        cursor: pointer;
        transition: all .25s ease;
        color: #4f4f4f;
        &:hover{
            color: #fff;
            transition: all .25s ease;
            background-color: var(--color_primary);
        }
    }
    .menu{
        flex: 1;
        ul{
            margin-bottom: 0;
            display: flex;
            padding-left: 10px;
            li:nth-last-of-type(-n+2){
                display: none;
            }
            li{
                padding: 17px 7px;
                position: relative;
                &:hover ul{
                    display: flex;
                }
                ul{
                    position: absolute;
                    top: 100%;
                    display: none;
                    padding-left: 0;
                    box-shadow: 0 0 7px 0 #ccc;
                    background-color: #fff;
                    left: 0;
                    min-width: 100%;
                    flex-direction: column;
                    border-top: 1px solid var(--color_primary);
                    li{
                        padding: 7px 15px;
                        display: block !important;
                    }
                    a{
                        color: #4f4f4f;
                        font-weight: 500;
                        &:hover{
                            color: initial;
                            text-decoration: underline;
                        }
                    }
                }
                a{
                    color: #4f4f4f;
                    font-weight: 600;
                    transition: all .23 ease;
                    white-space: nowrap;
                    &:hover{
                        color: var(--color_primary);
                    }
                }
            }
        }
    }
    .all{
        padding-left: 15px;
        .btn-all{
            display: flex;
            cursor: pointer;
            align-items: center;
            font-weight: 600;
            color: rgb(138, 138, 138);
            span{
                padding-right: 10px;
            }
            &:hover{
                transition: all .25s ease;
                color: var(--color_primary);
            }
        }
        .all-menu{
            position: absolute;
            background-color: #F7F7F7;
            width: 100vw;
            height: 100vh;
            left: 0;
            top: 100%;
            .wrap-menu{
                max-width: 1100px;
                width: 100%;
                margin: 0 auto;
            }
            .header{
                padding-top: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                h5{
                    font-weight: 600;
                }
                span{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg{
                        margin-top: 3px;
                        margin-left: 5px;
                    }
                }
            }
            .content{
                height: 100vh;
                overflow-y: scroll;
                a:hover{
                    text-decoration: underline;
                }
                span a{
                    color: #9f224e;
                    font-size: 16px;
                    font-weight: bold;
                }
                ul{
                    
                    padding-bottom: 10px;
                    position: relative;
                    margin-bottom: 3px;
                    li{
                        padding: 3px 0;
                        a{  font-size: 16px;
                        color: #252525;}
                    }
                    
                    &::before{
                        width: 50%;
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background-color: #ccc;
                        height: 1px;
                    }
                }
                a.see{
                    color: #757575;
                    font-size: 12px;
                    position: relative;
                }
            }
        }
    }
}

@media screen and (max-width: 1359px)
{
    .menu{
    ul{
        li:nth-last-of-type(-n+6){
            display: none;
        }
        ul{
            display: block;
        }
    }
}
}
@media screen and (max-width: 1024px)
{
    .wrapper-menu{
        &.scroll{
            position: fixed;
            top: 0;
            box-shadow: 0 0 7px 0 #ccc;
            z-index: 111;
            border: none;
        }
        .container-fluid{
           justify-content: space-between;
           padding: 13px 40px;
        }
    }
    .menu{
        display: none;
    }
}
@media screen and (max-width: 1024px)
{
    .all-menu{
        .wrap-menu{
            padding: 0 20px;
        }
    }
}
